<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="danger">
      Cadastrar Atividade
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <form (ngSubmit)="adicionar()">
    <ion-item>
      <ion-label position="floating">Atividade</ion-label>
      <ion-input type="text" name="'nome" [(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-button color="danger" expand="block" type="submit">
      <ion-icon name="add-circle"></ion-icon>Adicionar
    </ion-button>
  </form>
  <ion-list>
    <ion-item *ngFor="let item of lista; let i = index">
      {{ item }}
      <div slot="end">
        <ion-button color="medium" (click)="remover(item)">
          <ion-icon color="light" name="trash"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon name="document"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="color-palette"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="globe"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>